
FolderCrawling/.vs/FolderCrawling/v17/.futdcache.v1
FolderCrawling/.vs/FolderCrawling/v17/.suo
FolderCrawling/bin/Debug/net6.0-windows/FolderCrawling.pdb
*.cache
FolderCrawling/obj/Debug/net6.0-windows/FolderCrawling.designer.runtimeconfig.json
*.dll
*.resources
*.editorconfig
*.cache
*.pdb
.ionide
FolderCrawling/obj/project.nuget.cache
FolderCrawling/obj/Debug/net6.0-windows/FolderCrawling.assets.cache
FolderCrawling/obj/Debug/net6.0-windows/FolderCrawling.csproj.AssemblyReference.cache
